<div id="fn-scrollToggle-4" class="container l-section m-graphicTriangle">
    <div class="m-graphicTriangle-bottom"></div>
    <h1 id="link-4" class="m-headingDefault-main m-textProgress" data-txt="導入事例">導入事例</h1>
    <div class="m-headingDefault-sub u-text-center">導入事例です</div>
    <div id="fn-toggleContent-4" class="row u-display-none">
        <section class="col s12 m10 offset-m1">
            <div class="card-panel card-panel--pattern z-depth-1">
                <div class="row">
                    <div class="col s12 m2 u-text-center">
                        <div class="icon-business circle icon-circle icon-circle--business"><span>株式会社A様</span></div>
                    </div>
                    <div class="col s12 m10">
                        <ul class="m-listCase">
                            <li>
                                <h1 class="m-listCase-title">事例①</h1>
                                <p>
                                    株式会社A様は、各種イベントのチケット販売を行っている。
                                    そんな同社は、2015年10月11月に行った、とあるアーティストの公演に当たり「tixeebox」を採用。入場時の顧客管理として活用した。
                                </p>
                            </li>
                            <li>
                                <h1 class="m-listCase-title">導入までの経緯</h1>
                                <p>
                                    今回、tixeeboxを採用した経緯としては、比較的アーティストのファン層が若く、スマートフォンやネットに対するリテラシーが高かったためです。
                                </p>
                            </li>
                            <li>
                                <h1 class="m-listCase-title">効果</h1>
                                <ul>
                                    <li>
                                        <h1 class="m-listCase-title--sub">1.違法な転売の減少</h1>
                                        <p>
                                            tixeeboxで発券をした場合、他人にチケットを譲渡できないように設定することができます。そのため、今まであった転売が激減しました。
                                        </p>
                                    </li>
                                    <li>
                                        <h1 class="m-listCase-title--sub">2.チケット忘れなどの当日のトラブルが減少</h1>
                                        <p>
                                            今までは当日の紙チケットの忘れなどがあったのですが、スマートフォンでのチケットのため、チケット忘れがなくなりました。当日までにチケットをダウンロードしていない方に関しても、案内をすればその場でチケットを入手することができたので、トラブルにより当日入場できない、ということがなくなりました。
                                        </p>
                                    </li>
                                    <li>
                                        <h1 class="m-listCase-title--sub">3.入場時のオペレーション作業の効率化</h1>
                                        <p>
                                            電子チケットは２タップで入場完了できるため、入場時間が短くなりました。その結果、開演時間の延期のトラブルがなくなりました。
                                        </p>
                                    </li>
                                    <li>
                                        <h1 class="m-listCase-title--sub">4.コストの削減</h1>
                                        <p>
                                            従来の紙チケットに比べ、コストを安く抑えられています。また、海外のお客様に対してもアプリ上でチケットを送ることができ、非常に便利でした。
                                        </p>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="col s12 m10 offset-m1">
            <div class="card-panel card-panel--pattern z-depth-1">
                <div class="row">
                    <div class="col s12 m2 u-text-center">
                        <div class="icon-business circle icon-circle icon-circle--business"><span>株式会社B様</span></div>
                    </div>
                    <div class="col s12 m10">
                        <ul class="m-listCase">
                            <li>
                                <h1 class="m-listCase-title">事例②</h1>
                                <p>
                                    株式会社A様は、定期的に美術展を主催している。美術展の入場に関して「tixeebox」を採用。来場者は紙チケットか、tixeeboxによる電子チケットを選択できるようにした。その導入の経緯と活用効果について、お話をうかがった。
                                </p>
                            </li>
                            <li>
                                <h1 class="m-listCase-title">導入までの経緯</h1>
                                <p>
                                    今回の美術展は海外からのお客様が何名かいらっしゃったことから、電子チケットを採用しました。また、日本のお客様にも選択式で電子チケットを選べるようにしました。
                                </p>
                            </li>
                            <li>
                                <h1 class="m-listCase-title">効果</h1>
                                <ul>
                                    <li>
                                        <h1 class="m-listCase-title--sub">1.海外のお客さま対応</h1>
                                        <p>
                                            今まで海外のお客様にチケットを送ることが法律上できなかったのですが、アプリ上であれば送ることができ、助かりました。また、tixeeboxのカスタマーサポートセンターでは、英語・中国語にも対応しているので安心でした。
                                        </p>
                                    </li>
                                    <li>
                                        <h1 class="m-listCase-title--sub">2.ギフト機能</h1>
                                        <p>
                                            ご友人同士でいらっしゃるお客様が多かったのですが、ギフト機能が非常に役立ちました。直接会わなくても、LINEやメール上でチケットを渡すことができ、また一緒に行く予定だった友人が行けなくなった場合も購入者を通じて違う人にギフトをすることができ、とても便利でした。
                                        </p>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>