<section id="fn-scrollToggle-1" class="l-section m-stripBg m-stripBg--full m-stripBg--blue u-text-center u-bg-darkblue m-graphicTriangle">
    <div class="m-graphicTriangle-bottom m-graphicTriangle-bottom--darkblue"></div>
    <h1 id="link-1" class="m-headingDefault-main m-textProgress" data-txt="発券までの流れ">
        発券までの流れ
    </h1>
    <div class="m-headingDefault-sub">
        <span class="u-text-strong">CSV登録</span>、または、<span class="u-text-strong">API連携</span>でスマホチケットに
    </div>
    <div id="fn-toggleContent-1" class="u-display-none">
        <img class="u-img-middle" src="<?php bloginfo( 'template_directory' ); ?>/img/ticket_flow.png" alt="チケットの流れ">
        <div class="row container">
        <p class="u-text-strong u-text-strong--middle">
            APIシステム連携をすることによって継続的に電子チケットを発券し、<br>
            かつリアルタイムでユーザーに
            受け取ってもらうことが可能に！
        </p>
        </div>
    </div>
</section>