        <div id="fn-scrollToggle-2" class="container l-section m-graphicTriangle">
            <div class="m-graphicTriangle-bottom"></div>
            <h1 id="link-2" class="m-headingDefault-main m-textProgress" data-txt="特徴">特徴</h1>
            <div class="m-headingDefault-sub u-text-center">紙チケットではできなかったことが可能に</div>
            <div id="fn-toggleContent-2" class="u-display-none">
            <ul class="m-outline">
                <li>
                 <div class="icon icon-smartphones"></div>
                 <h1><span>スマホチケットとしての</span>付加価値</h1>
                 <p>
                    もぎったチケットの裏面に情報を載せることや、
                    予告・特典動画の視聴や、画像などの
                    電子チケットならではのデジタルコンテンツをプレゼントすることが可能に
                </p>
            </li>
            <li>
                <div class="icon icon-gift"></div>
                <h1><span>メール、LINE、QRコードで</span>チケットを分配</h1>
                <p>
                    購入したチケットは、『QRコード』『LINE』『メール』『SMS』
                    により同伴者に分配可能！
                    時間や空間的な障害を気にしない電子チケットは
                    次世代のチケットサービスの主流に！
                </p>
            </li>
            <li>
                <div class="icon icon-resale"></div>
                <h1><span>SNS認証、譲渡制限による</span>転売防止機能</h1>
                <p>
                    SMS認証による簡易会員登録及び、
                    チケット譲渡の制限機能による紙チケットでは対応が困難であった転売抑止方法の実施が可能。
                    本当に行きたいファンのお客様に来場して頂く事が可能に
                </p>
            </li>
            <li>
                <div class="icon icon-earth"></div>
                <h1><span>国を選ばない</span>インバウンド施策</h1>
                <p>
                    場所・国を選ばない発券機能:販売はWEB・店舗・受け取りはスマホの世界の創出。
                    多言語化対応:日・英・中(簡・繁)、多言語カスタマーサポート体制:日・英・中。
                    従来、紙チケットでは対応できなかった新たなインバウンド市場へのアプローチが可能
                </p>
            </li>
        </ul>
        </div>
        </div>