
    <section class="row container l-section u-mb60">
    <h1 id="link-5" class="m-headingDefault-main m-textProgress" data-txt="Q&A">Q&A</h1>
        <div class="m-headingDefault-sub u-text-center">数千人規模のイベントにも導入されて活躍している</div>
        <ul id="fn-toggleContent-6" class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header m-collapsibleQa-header">
                    tixeeboxとは？
                </div>
                <div class="collapsible-body m-collapsibleQa-body" style="display: none;">
                    <p>スマホ電子チケットの発券に特化したアプリです。</p>
                </div>
            </li>
            <li>
                <div class="collapsible-header m-collapsibleQa-header">
                    販売は行ってくれますか？
                </div>
                <div class="collapsible-body m-collapsibleQa-body">
                    <p>発券に特化したアプリとなっております。販売は行っておりません。</p>
                </div>
            </li>
            <li>
                <div class="collapsible-header m-collapsibleQa-header">
                    導入までの期間はどのくらいかかりますか？
                </div>
                <div class="collapsible-body m-collapsibleQa-body">
                    <p>システム開発が不要なので、ご相談後すぐの導入が可能です。</p>
                </div>
            </li>
            <li>
                <div class="collapsible-header m-collapsibleQa-header">
                    導入コストはどのくらいかかりますか？
                </div>
                <div class="collapsible-body m-collapsibleQa-body">
                    <p>
                    チケット１枚あたりのご料金を頂戴しております。（※カスタマーサポートや特設ページをご利用の場合は、追加で運営費用をいただく場合もあります。）
                    </p>
                </div>
            </li>
            <li>
                <div class="collapsible-header m-collapsibleQa-header">
                    導入するにあたって、何か必要なものはありますか？
                </div>
                <div class="collapsible-body m-collapsibleQa-body">
                    <p>
                        導入方法は２パターンあり、会員連携方法とシステム連携方法があります。<br>
                        会員連携方法をご利用の場合は、弊社指定のCSVで会員情報をご共有いただければ発券が可能となります。<br>
                        システム連携方法をご利用の場合は、弊社APIシステムと連携することにより、リアルタイム発券が可能となります。
                    </p>
                </div>
            </li>
            <li>
                <div class="collapsible-header m-collapsibleQa-header">
                    海外対応に関してはどのようになっていますか？
                </div>
                <div class="collapsible-body m-collapsibleQa-body">
                    <p>
                        tixeeboxのアプリは世界各国Twilio対応国での使用が可能となっております。言語は日本語・英語・中国語（簡・繁）に対応しております。また、コールセンターも日本語・英語・中国語に対応しております。
                    </p>
                </div>
            </li>
            <li>
                <div class="collapsible-header m-collapsibleQa-header">
                    ほかの電子チケットとどのような違いがありますか？
                </div>
                <div class="collapsible-body m-collapsibleQa-body">
                    <p>
                    tixeeboxではスタンプやQRコードリーダーのような端末の設置が不要です。アプリに届いたチケットをもぎるだけで入場が可能となり、紙が不要になる、この技術は弊社が特許を取得しています。
                    </p>
                    <a href="http://livestyles.tv/patent" target="_blank">
                        <span class="icon-link icon-link--orange">
                        特許についてはこちら
                        </span>
                    </a>
                </div>
            </li>
        </ul>
    </section>
