<div id="fn-scrollToggle-3" class="m-stripBg m-stripBg--full m-graphicTriangle">
    <div class="m-graphicTriangle-bottom m-graphicTriangle-bottom--orange"></div>
    <div class="container l-section">
        <h1 id="link-3" class="m-headingDefault-main m-textProgress" data-txt="導入実績">導入実績</h1>
        <div class="m-headingDefault-sub u-text-center">数千人規模の有名イベントにも導入されて実証済み</div>
        <div id="fn-toggleContent-3" class="row u-display-none">
            <div class="col s12 m4">
                <section class="card card-list">
                    <div class="card-image">
                        <img src="https://tixeebox.tv/lp/anniversary-ptasummit/img/key-visual.png">
                    </div>
                    <div class="card-content">
                        <h1>Perfume Anniversary 10days 2015 PPPPPPPPPP「P.T.A.サミット」</h1>
                        <ul class="m-listResult">
                            <li>
                                <div class="m-listResult-title">利用者数</div>
                                <div class="m-listResult-content">753人</div>
                            </li>
                            <li>
                                <div class="m-listResult-title">発券率</div>
                                <div class="m-listResult-content">99.5%</div>
                            </li>
                            <li>
                                <div class="m-listResult-title">参加率</div>
                                <div class="m-listResult-content">97.4%</div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-action">
                        <a href="https://tixeebox.tv/lp/anniversary-ptasummit/" target="_blank">
                            <span class="icon-link icon-link--orange">
                                ランディングページはこちら
                            </span>
                        </a>
                    </div>
                </section>
            </div>
            <div class="col s12 m4">
                <section class="card card-list">
                    <div class="card-image">
                        <img src="https://tixeebox.tv/lp/ripslyme/img/key-visual.png">
                    </div>
                    <div class="card-content">
                        <h1>RIP SLYME 10thアルバム「10」リリース記念 LIVE リップ熊手</h1>
                        <ul class="m-listResult">
                            <li>
                                <div class="m-listResult-title">利用者数</div>
                                <div class="m-listResult-content">466人</div>
                            </li>
                            <li>
                                <div class="m-listResult-title">発券率</div>
                                <div class="m-listResult-content">83.1%</div>
                            </li>
                            <li>
                                <div class="m-listResult-title">参加率</div>
                                <div class="m-listResult-content">87.6%</div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-action">
                        <a href="https://tixeebox.tv/lp/ripslyme/" target="_blank">
                            <span class="icon-link icon-link--orange">
                                ランディングページはこちら
                            </span>
                        </a>
                    </div>
                </section>
            </div>
            <div class="col s12 m4">
                <section class="card card-list">
                    <div class="card-image">
                        <img src="https://tixeebox.tv/lp/sheena-ringo/img/key-visual.png">
                    </div>
                    <div class="card-content">
                        <h1>椎名林檎と彼奴等がゆく 百鬼夜行２０１５</h1>
                        <ul class="m-listResult">
                            <li>
                                <div class="m-listResult-title">利用者数<small>(※2015年11月現在)</small></div>
                                <div class="m-listResult-content">15,486人</div>
                            </li>
                            <li>
                                <div class="m-listResult-title">発券率</div>
                                <div class="m-listResult-content">99.3%</div>
                            </li>
                            <li>
                                <div class="m-listResult-title">参加率</div>
                                <div class="m-listResult-content">97.6%</div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-action">
                        <a href="https://tixeebox.tv/lp/sheena-ringo/" target="_blank">
                            <span class="icon-link icon-link--orange">
                                ランディングページはこちら
                            </span>
                        </a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>