<section id="fn-scrollToggle-5" class="l-section m-graphicTriangle m-stripBg--full m-stripBg--blue">

    <div class="m-graphicTriangle-bottom m-graphicTriangle-bottom--darkblue"></div>
    <h1 id="link-4" class="m-headingDefault-main m-textProgress" data-txt="利用者の声">利用者の声</h1>
    <div class="m-headingDefault-sub u-text-center">数千人規模のイベントにも導入されて活躍している</div>
    <div id="fn-toggleContent-5" class="l-section-user u-display-none">
        <div class="container">
            <div class="row">
                <div class="col s12 m10 offset-m1">
                    <div class="card-panel z-depth-1">
                        <div class="row valign-wrapper">
                            <div class="col s12 m2 u-text-center">
                                <div class="icon-woman circle icon-circle"><span>(女性・20代)</span></div>
                            </div>
                            <div class="col s12 m10">
                                <span class="black-text">
                                    tixeeboxを初めて利用しました。紙チケットに比べてコンビニに発券に行く必要もなく、会場に行く時もチケット忘れなどが起こらないので便利でした。また、終わった後のチケットもコレクションできるのもうれしいです。
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m10 offset-m1">
                    <div class="card-panel z-depth-1">
                        <div class="row valign-wrapper">
                            <div class="col s12 m2 u-text-center">
                                <div class="icon-man circle icon-circle icon-circle--man"><span>(男性・30代)</span></div>
                            </div>
                            <div class="col s12 m10">
                                <span class="black-text">
                                    今までの紙チケットだと同伴者へチケットを渡すためには、直接会わなければならなかったのが、メールやLINE上でチケットを渡すことができたのがよかったです。
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m10 offset-m1">
                    <div class="card-panel z-depth-1">
                        <div class="row valign-wrapper">
                            <div class="col s12 m2 u-text-center">
                                <div class="icon-woman circle icon-circle"><span>(女性・40代)</span></div>
                            </div>
                            <div class="col s12 m10">
                                <span class="black-text">
                                    普段アプリなどを使わない私でも、アプリをダウンロードして、QRコードを読み取るだけでチケットを入手できました。会場までの地図をアプリから見ることができ、とても便利でした。
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>