.c-borderBox {
    background-color: #f6756b;
    position: relative;
    text-align: center;
    height: auto;
    padding-top: 10px;

    &-container {
        max-width: 1024px;
        margin: 0 auto;
        position: relative;
        @extend .u-clearfix;
    }

    &-body {
        width: 50%;
        text-align: center;
        float: left;

        &--string {
            position: absolute;
            top: 50%;
            margin-top: -6.5em;

            @media(max-width: $responseiveWidth) {
                margin-top: -4.5em;
            }

            @media(max-width: $responseiveWidthMin) {
                margin-top: -4em;
            }
        }

        &--right {
            right: 0;
        }

        &--long {

            @media(max-width: $responseiveWidth) {
                margin-top: -5.5em;
            }

            @media(max-width: $responseiveWidthMin) {
                margin-top: -5em;
            }
        }
    }

    h1 {
        line-height: 2;
        color: $whiteCol;
        font-size: 35px;

        @media(max-width: $responseiveWidthDefalt) {
            font-size: 30px;
        }
        @media(max-width: $responseiveWidth) {
            font-size: 17px;
        }
        @media(max-width: $responseiveWidthMin) {
            font-size: 14px;
        }
    }

    img {
        width: 90%;
        max-width: 320px;
    }

    &--second {
        background-color: #92ab5b;
    }

    &--third {
        background-color: #6593bf;
    }

    &--fourth {
        background-color: #c2a058;
    }
}