//GoToTop
.c-btnTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
    display: none;

    a {
        display: block;
        position: relative;
        background-color: rgba(0, 0, 0, .8);
        border-radius: 50%;
        border: 4px solid lighten($color-a, 5%);
        width: 60px;
        height: 60px;

        &:before {
            display: inline-block;
            width: 16px;
            height: 16px;
            content: '';
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            border-top: 4px solid lighten($color-a, 5%);
            border-right: 4px solid lighten($color-a, 5%);
            position: absolute;
            top: 40%;
            right: 0;
            left: 0;
            margin: auto;
        }
    }
}

//button
.btn {

    &-large {
        font-size: 20px;
        width: 80%;

        @media(max-width: 420px) {
            font-size: 16px;
            width: 100%;
        }
    }

    &-special {
        background-color: $color-b;

        &:hover {
            background-color: lighten($color-b, 5%);

        }
    }

    &-back {
        background-color: darken($color-b, 15%);

        &:hover {
            background-color: darken($color-b, 10%);

        }
    }
}
