//GoToTop
.m-btnTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
    display: none;

    a {
        display: block;
        position: relative;
        background-color: rgba(0, 0, 0, .8);
        border-radius: 50%;
        border: 4px solid lighten($color-a, 5%);
        width: 60px;
        height: 60px;

        &:before {
            display: inline-block;
            width: 16px;
            height: 16px;
            content: '';
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            border-top: 4px solid lighten($color-a, 5%);
            border-right: 4px solid lighten($color-a, 5%);
            position: absolute;
            top: 40%;
            right: 0;
            left: 0;
            margin: auto;
        }
    }
}

.m-btn {

    &-reload {
        background-color: darken($color-b, 15%);

        &:hover {
            background-color: darken($color-b, 5%);
        }
    }

    &-xs {
        height: 20px;
        line-height: 20px;
        font-size: 13px;
        padding: 0 10px;
    }
}

.m-btnCollapse {
    position: relative;

    @media(min-width: $responseiveWidthDefalt) {
        display: none;
    }

    &:before {
        @extend [class^="icon-"];
        content: '\e90d';
        font-size: 24px;
        margin-left: 10px;
        vertical-align: text-bottom;
    }
}
