.card-image {
    text-align: center;

    img {
        max-width: 320px;

        @media(min-width: 420px) {
            max-width: 260px;
        }
    }
}

.card-action h1:nth-child(1){
    margin-top: 15px;
}