//Q&A
.m-collapsibleQa {

    &-header {

        &.active {
            border-bottom-style: dashed;
        }

        &:before {
            content: 'Q';
            font-family: 'icomoon';
            padding-right: 1rem;
            margin-right: 1rem;
            border-right: 1px solid $commonLightCol;
            display: inline-table;
            font-size: 24px;
            position: absolute;
            left: 1rem;
            top: 0;
            bottom: 0;
            margin: auto;
            color: lighten($color-a, 7%);
        }

        &:hover {
            background-color: lighten($commonLightCol, 5%);
        }
    }

    &-body {

        &:before {
            content: 'A';
            font-family: 'icomoon';
            padding-right: 1rem;
            margin-right: 1rem;
            border-right: 1px solid $commonLightCol;
            display: inline-block;
            font-size: 24px;
            position: absolute;
            left: 1rem;
            top: 1rem;
            margin: auto;
            color: $redCol;
            width: 36px;
            height: 2rem;
            line-height: 2rem;
        }
    }
}
