.m-heading-main {
    margin:0 10px 25px 10px;

    @media(max-width: $responseiveWidth) {
        margin:0 0 25px 0;
    }

    padding:10px 10px;
    background: #333333; /* Old browsers */
    background: -moz-linear-gradient(left, #333333 0%, #3D3F3F 50%, #333333 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#333333), color-stop(50%,#3D3F3F), color-stop(100%,#333333)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #333333 0%,#3D3F3F 50%,#333333 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #333333 0%,#3D3F3F 50%,#333333 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(left, #333333 0%,#3D3F3F 50%,#333333 100%); /* IE10+ */
    background: linear-gradient(left, #333333 0%,#3D3F3F 50%,#333333 100%); /* W3C */
    color: lighten($color-a, 15%);
    text-shadow:1px 1px 2px #333;
    box-shadow:0 2px 3px rgba(0, 0, 0, 0.4) , inset 0 0 50px rgba(0, 0, 0, 0.1) ;
    position:relative;
    font-size: 20px;
    line-height:33px;
    font-weight:bold;

    &:before,
    &:after{
        content: ' ';
        position: absolute;
        z-index: -1;
        width: 40%;
        height: 20px;
        left: 4px;
        bottom:7px;
        -webkit-box-shadow: 0 8px 15px rgba(0,0,0, 0.7);
        -moz-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.7);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.7);
        background-color: #6e1613;
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }

    &:after{
        -webkit-transform: rotate(3deg);
        -moz-transform: rotate(3deg);
        -o-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
        transform: rotate(3deg);
        right: 10px;
        left: auto;
    }
}



.m-heading-sub {
    font-size: 18px;
    padding: 0 0 10px 10px;
    border-bottom: dotted 2px $color-b;
    margin-top: 10px;
    margin-bottom: 10px;
    color: $color-b;
    font-weight: 700;
    word-break: break-word;

    @media(max-width:420px){
        font-size: 17px;
        padding: 0 0 10px;
    }
}

.m-headingDefault-main {
    font-size: 33px;
    font-weight: bold;
    color: $blackCol;
}

.m-headingDefault-sub {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 60px;

    @media(max-width: $responseiveWidth){
        font-size: 15px;
        margin-bottom: 30px;
    }
}

.m-heading-fixedbar {
    margin: 0;
    padding: 0 5px;
    font-size: 10px;
    position: fixed;
    top: 0;
    display: inline-block;
    width: 100%;
    height: 15px;
    line-height: 14px;
    background-color: $color-b;
    color: $whiteCol;
}

.m-heading-category {
    display: inline-block;
    margin: 0;
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: $color-a;
    @extend [class^="icon-"];

    &:before {
        content: "\e900";
        font-size: 28px;
        padding-right: 10px;
        vertical-align: sub;
    }

    @media(max-width: $responseiveWidth){
        width: 100%;
        border-bottom: 1px dotted $color-a;
    }
}

.m-heading-footer {
    border-bottom: 2px dotted $color-b;
    padding-bottom: 10px;
}
