nav {
    opacity: .8;
    background-color: #1e1e1e;
}

.nav {

    &-category {
        top: 0 !important;
    }

    &-a {

        > li > a {

            &:hover {
                opacity: .9;
                background-color: $bg-nav !important;
                color: $blackCol;
                -webkit-transition: all .5s ease;
                -moz-transition: all .5s ease;
            }
        }

        &-logo {
            padding: 0 15px;

            img {

                width: 150px;
                vertical-align: sub;
            }
        }
    }
}
// Fixed Navbar
.navbar-fixed {

    &--single {

        nav {
            top: 14px;
        }
    }
}
// Side Nav
.side-nav {
    .c-dropdown-head:after {
        border-color: #444;
    }
}
