nav {
    opacity: .85;
    background-color: $blackCol;
}

.nav {

    &-category {
        top: 0 !important;
    }

    &-a {

        > li > a {

            &:hover {
                opacity: .9;
                background-color: $bg-nav !important;
                color: $blackCol;
                -webkit-transition: all .5s ease;
                -moz-transition: all .5s ease;
            }
        }
    }
}