.m-search {
    width: 22%;
    margin-top: 5px;

    @media(max-width: $responseiveWidth){
        width: 100%;
        margin-bottom: 10px;
        background: lighten($commonLightCol, 5%);
    }

    &-body {
        position: relative;

        input {
            color: $blackCol;
            height: 2.3em;
            font-size: 15px;
            padding-left: 2.5em;
            margin: 0;
            box-sizing: border-box;
            -webkit-appearance: none;
        }

        label i {
            position: absolute;
            display: inline-table;
            top: 0;
            bottom: 0;
            left: 5px;
            margin: auto;
            -webkit-appearance: none;
        }
    }
}