.m-table {

    &-bordered {
        border: 1px solid $table-border-color;

        > thead,
        > tbody,
        > tfoot {

            > tr {

                > th,
                > td {
                    border: 1px solid $table-border-color;
                }
            }
        }

        > thead > tr {
            background-color: lighten($color-d, 10%);
            color: #fff;

            > th,
            > td {
                border-bottom-width: 2px;
            }
        }
    }

    &-url {

        > thead,
        > tbody {

            > tr {

                > th,
                > td {
                    vertical-align: middle;
                    text-align: center;
                }
            }
        }

        > tbody > tr {
            background-color: lighten($color-b, 40%);
        }

        @media(max-width: 799px){

            > thead,
            > tbody {

                > tr {

                    > th,
                    > td {
                        padding: 8px 1px;
                        font-size: 10px;
                    }

                    @media(max-width: 420px){

                        > th {
                            text-align: center;
                        }
                    }
                }
            }

            > tbody > tr > th {

                &:nth-child(1) {
                    width: 20%;
                }

                &:nth-child(2) {
                    width: 18%;
                }
            }
        }
    }

    &-time {

        > thead > tr {
            background-color: lighten($color-d, 10%);

            > th.tb-place {
                width: 35%;
            }
        }

        @media(max-width: $responseiveWidth){
            .btn {
                padding: 0;
                width: 98%;
                min-width: 50px;
                margin: 0 1%;
            }
        }

        > tbody > tr {
            background-color: lighten($color-b, 40%);
        }

        .m-table-url {
            box-shadow:rgba(68, 68, 68, 0.298039) 0px 3px 12px -4px;
            -webkit-box-shadow:rgba(68, 68, 68, 0.298039) 0px 3px 12px -4px;
            -moz-box-shadow:rgba(68, 68, 68, 0.298039) 0px 3px 12px -4px;

            > tbody > tr {
                background-color: lighten($color-a, 30%);
            }
        }
    }
}
