.c-visualPanel {
    width: 100%;
    height: $visualPanel-height;
    background-image: url(../img/bg-dark.png);
    padding: 15px 0;
    box-sizing: content-box;
    @extend .u-clearfix;

    &-body {
        max-width: 1024px;
        margin: 0 auto;
    }

    &-contant {
        width: 50%;
        float: left;

        a {
            color: $color-a;
        }
    }

    &-box {
        width: 47%;
        margin-left: 3%;
        float: left;
        position: relative;

        &:nth-child(3), &:nth-child(4) {
            padding-top: 15px;
        }
    }

    &-thumbnail {
        height: $visualPanel-thumbnails-height;
        overflow: hidden;
        position: relative;
        background: #fff;
        text-align: center;

        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            display: inline-block;
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        &--one {
            height: $visualPanel-height;
        }
    }

    &-heading {
        width: 100%;
        padding: 5%;
        text-align: left;
        font-size: 15px;
        margin: 0;
        position: absolute;
        bottom: 0;
        background-color: rgba(255,255,255,.8);
        display: none;
    }
}