
<?php
    $cf_tableTicket = SCF::get( 'cf_tableGetTicket' );
    foreach ( $cf_tableTicket as $field_name => $field_value ) {
  ?>
    <h1 class="heading-b"><?php echo esc_html( $field_value['cf_tableGetTicket_title'] ); ?></h1>
    <table class="table table-url table-bordered">
        <thead>
            <tr>
                <th>端末</th>
                <th>イベント</th>
                <th>受け取りURL / QRコード</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>iPhone</th>
                <th width="10%">公演</th>
                <td class="bg-color-b">
                    <a href="<?php echo esc_html( $field_value['cf_urlIphone'] ); ?>" target="_blank">
                    <?php echo esc_html( $field_value['cf_tableGetTicket_urlIphone'] ); ?>
                    </a>
                </td>
            </tr>
            <tr>
                <th>Android</th>
                <th>公演</th>
                <td class="bg-color-b">
                    <a href="<?php echo esc_html( $field_value['cf_urlAndroid'] ); ?>" target="_blank">
                    <?php echo esc_html( $field_value['cf_tableGetTicket_urlAndroid'] ); ?>
                    </a>
                </td>
            </tr>
            <tr>
                <th>PC</th>
                <th>公演</th>
                <td class="bg-color-b">
                    <?php
                    $image = get_post_meta($post->ID, 'cf_tableGetTicket_qrcode', true);
                    echo wp_get_attachment_image($image, 'medium');
                    ?>
                </td>
            </tr>
        </tbody>
    </table>
<?php } ?>
