
<?php
    $cf_tableTicket = SCF::get( 'cf_tableGetTicket' );
    foreach ( $cf_tableTicket as $field_name => $field_value ) {

        $ticket_title = esc_html( $field_value['cf_tableGetTicket_title'] );
        $ticket_iphone = esc_html( $field_value['cf_tableGetTicket_urlIphone'] );
        $ticket_android = esc_html( $field_value['cf_tableGetTicket_urlAndroid'] );
  ?>

    <table class="table m-table-url m-table-bordered">
        <thead>
            <tr>
                <th>端末</th>
                <th>イベント</th>
                <th>受け取りボタン / QRコード</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>iPhone</th>
                <th width="10%">公演</th>
                <td class="bg-color-b">
                    <?php echo '<a class="btn btn-action waves-effect waves-light white-text u-mr0" href="'.$ticket_iphone.'" target="_blank">iPhoneで受け取る</a>'; ?>
                </td>
            </tr>
            <tr>
                <th>Android</th>
                <th>公演</th>
                <td class="bg-color-b">
                    <?php echo '<a class="btn btn-action waves-effect waves-light white-text u-mr0" href="'.$ticket_android.'" target="_blank">Androidで受け取る</a>'; ?>
                </td>
            </tr>
            <tr>
                <th>tixeebox<br>『QRコードリーダー』</th>
                <th>公演</th>
                <td class="bg-color-b">
                    <?php
                    $image = get_post_meta($post->ID, 'cf_tableGetTicket_qrcode', true);
                    echo wp_get_attachment_image($image, 'thumbnail');
                    ?>
                </td>
            </tr>
        </tbody>
    </table>
<?php } ?>
