<?php get_header(); ?>
<!-- カテゴリ情報取得 -->
<?php
if ( have_posts() ) {
    $category = get_the_category();
    $cat_id   = $category[0]->cat_ID;
    $cat_name = $category[0]->cat_name;
    $cat_slug = $category[0]->slug;
}
?>

    <% include template/_nav %>
    <% include parallax/_parallax02 %>

    <section class="container u-clearfix" id="fn-display-none">
        <h1 class="m-heading-category">
            <?php if ( have_posts() ) { echo $cat_name.'新着';} else { echo '投稿されていません。';} ?>
        </h1>
        <form class="m-search u-pull-right" method="get" id="searchform" action="<?php bloginfo('url'); ?>">
            <div class="m-search-body">
                <input type="search" name="s" id="search" placeholder="検索" required>
                <label for="s"><i class="material-icons">search</i></label>
            </div>
        </form>
    </section>
    <section class="m-panelFive">
        <div class="m-panelFive-body">
            <div class="m-panelFive-contant">
                <?php
                if ( have_posts() ) {
                $my_query = new WP_Query( 'posts_per_page=1&cat='.$cat_id);
                ?>
                <a href="<?php the_permalink();?>">
                    <div class="m-panelFive-thumbnail m-panelFive-thumbnail--one">
                        <?php while ( $my_query->have_posts() ) : $my_query->the_post();
                        $do_not_duplicate[] = $post->ID; ?>
                        <?php
                            if ( has_post_thumbnail() ) {
                                the_post_thumbnail();
                            }
                        ?>
                        <h1 class="m-panelFive-heading">
                            <?php the_title(); ?>
                        </h1>
                        <?php endwhile;?>
                    </div>
                </a>
                <?php } ?>
            </div>
            <div class="m-panelFive-contant">
                <?php
                if ( have_posts() ) {
                $my_query = new WP_Query( 'offset=1&posts_per_page=4&cat='.$cat_id);
                while ( $my_query->have_posts() ) : $my_query->the_post();
                $do_not_duplicate[] = $post->ID;
                ?>
                <div class="m-panelFive-box">
                    <a href="<?php the_permalink();?>">
                        <div class="m-panelFive-thumbnail">
                            <?php
                            if ( has_post_thumbnail() ) {
                                the_post_thumbnail('medium');
                            }
                            ?>
                            <h1 class="m-panelFive-heading">
                                <?php the_title(); ?>
                            </h1>
                        </div>
                    </a>
                </div>
                <?php endwhile; }?>
            </div>
        </div>
    </section>
    <?php if ( ($my_query->found_posts ) > 5 ){ ?>
    <div class="container">
        <div class="u-clearfix">
            <h1 class="m-heading-category"><?php echo $cat_name.'一覧'; ?></h1>
            <form id="fn-display" class="m-search u-pull-right" method="get" id="searchform" action="<?php bloginfo('url'); ?>">
                <div class="m-search-body">
                    <input type="search" name="s" id="search" placeholder="検索" required>
                    <label for="s"><i class="material-icons">search</i></label>
                </div>
            </form>
        </div>
        <div class="row fn-grid">
            <?php if ( have_posts() ) : while ( have_posts() ) : the_post();
                if ( in_array( $post->ID, $do_not_duplicate ) ) continue;?>
            <div class="col s6 m3 fn-grid-item">
                <section class="card card--masony">
                    <a href="<?php the_permalink();?>">
                        <div class="card-image">
                            <?php
                            if ( has_post_thumbnail() ) {
                                the_post_thumbnail('medium');
                            }
                            ?>
                        </div>
                        <h1 class="card-action card-action--masonry">
                            <?php the_title(); ?>
                        </h1>
                    </a>
                </section>
            </div>
            <?php endwhile; endif; ?>
        </div>
        <?php
        wp_reset_postdata();
        ?>
        <div class="row">
            <?php if (function_exists('fn_pagenation')) {
                fn_pagenation($wp_query->max_num_pages);
            }?>
        </div>
    </div>
    <?php } ?>
    <?php get_footer(); ?>
    <script src="<?php bloginfo( 'template_directory' ); ?>/js/category.min.js"></script>
    </body>
</html>