<?php get_header(); ?>
    <!--#fn-parallax-1-->
    <% include template/_nav-category %>
    <div class="container">
        <section class="row">
            <div class="col s6">
            6
            </div>
            <div class="col s6">
                <div class="row">
                    <div class="col s6">a
                    </div>
                    <div class="col s6">a
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">a
                    </div>
                    <div class="col s6">a
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h1><p>Category: <?php single_cat_title(); ?></p></h1>
        </section>
    </div>
    <?php get_footer(); ?>
    <script src="<?php bloginfo( 'template_directory' ); ?>/js/index.min.js"></script>
    </body>
</html>
