<?php
/**
 * @package WordPress
 * @subpackage tixeebox
 * @since tixeebox 1.0
 */

get_header(); ?>
    <!--#fn-parallax-1-->
    <% include parallax/_parallax01 %>
    <% include template/_nav %>
    <div class="wrapper">
        <section class="row container section-str">
            <a id="fn-showHere"></a>
            <h2 class="heading-b">tixeeboxとは？</h2>
            <p class="grey-text text-darken-3 lighten-3">
                “tixeebox”（ティクシーボックス）は電子チケットの発券に特化し、システム開発不要の主催者に導入しやすく、ユーザーにも利用しやすい電子チケットアプリサービスです。tixeeboxでは転売の抑制としてSMSでのユーザー認証、チケット譲渡の制限機能を備えている他、電子チケットならではのチケットデザイン、動画などのコンテンツの付与にも対応可能です！
            </p>
            <p class="grey-text text-darken-3 lighten-3">
                従来は紙で受取っていたチケットを、“tixeebox”アプリなら簡単に電子化＆スマホにダウンロード！コンビニや店頭に、チケットを受取に行く必要はありません。 イベント当日は、スマートフォンを見せてチケットを「もぎって」もらうだけ！紙チケットと同じ方法で入場できます！
            </p>
        </section>

        <section class="c-borderBox">
            <div class="c-borderBox-container">
                <div class="c-borderBox-body c-borderBox-body--string">
                    <h1 class="heading-b">チケットを簡単に<br>スマホで受け取り</h1>
                </div>
                <div class="c-borderBox-body u-pull-right">
                    <img src="<?php bloginfo( 'template_directory' ); ?>/img/image1.png">
                </div>
            </div>
        </section>

        <section class="c-borderBox c-borderBox--second">
            <div class="c-borderBox-container">
                <div class="c-borderBox-body c-borderBox-body--string c-borderBox-body--long c-borderBox-body--right">
                    <h1 class="heading-b">入場方法は<br>チケット画面を"もぎる"だけ！</h1>
                </div>
                <div class="c-borderBox-body u-pull-left">
                    <img src="<?php bloginfo( 'template_directory' ); ?>/img/image2.png">
                </div>
            </div>
        </section>

        <section class="c-borderBox c-borderBox--third">
            <div class="c-borderBox-container">
                <div class="c-borderBox-body c-borderBox-body--string">
                    <h1 class="heading-b">友達にLINEやメールで<br>チケットを送付可能</h1>
                </div>
                <div class="c-borderBox-body u-pull-right">
                    <img src="<?php bloginfo( 'template_directory' ); ?>/img/image3.png">
                </div>
            </div>
        </section>

        <section class="c-borderBox c-borderBox--fourth">
            <div class="c-borderBox-container">
                <div class="c-borderBox-body c-borderBox-body--string c-borderBox-body--right">
                    <h1 class="heading-b">発券手数料は0円<br>アカウント登録も無料！</h1>
                </div>
                <div class="c-borderBox-body u-pull-left">
                    <img src="<?php bloginfo( 'template_directory' ); ?>/img/image4.png">
                </div>
            </div>
        </section>

        <div class="thumbnail u-text-center u-pt15">
            <img src="<?php bloginfo( 'template_directory' ); ?>/img/ticket_flow.png" alt="チケットの流れ">
        </div>
        <section class="row container section-str">
            <h2 class="heading-b">なにができる？</h2>
            <p class="grey-text text-darken-3 lighten-3">
                    tixeeboxはスマートフォン向けの電子チケット発券に特化したツールで、主催者、プレイガイドが販売したチケットの電子化が行えます。これまでの電子チケットとは異なり、販売(決済)は自社、発券はtixeeboxで行えるため既存のシステムに容易に電子チケット発券を組み込むことが出来ます。CSVでの連携の他、APIでの連携にも対応しているので、システムを繋ぎ込めば継続的かつ、リアルタイムに電子チケットの発券をすることが可能になります。
            </p>
        </section>

        <% include template/conponent/_contact %>
    </div>
    <?php get_footer(); ?>
    <script src="<?php bloginfo( 'template_directory' ); ?>/js/index.min.js"></script>
    </body>
</html>
