<?php get_header(); ?>
    <!--#fn-parallax-1-->
    <% include template/_nav-top %>
    <% include parallax/_parallax01 %>

    <% include template/lp/_flow %>
    <% include template/lp/_outline %>
    <% include template/lp/_result %>
    <% include template/lp/_case %>
    <% include template/lp/_users %>
    <% include template/lp/_questions %>

    <div class="wrapper">
        <section class="m-contact">
            <div class="m-contact-head">
                <h1>tixeeboxに関するお問い合わせ</h1>
            </div>
            <div class="m-contact-body">
                <ul>
                    <li class="m-contact-info m-contact-info--mail">
                        <h2>メールでのお問い合わせ</h2>
                        <a href="mailto:info-tixeebox@livestyles.tv">
                            info-tixeebox@livestyles.tv
                        </a>
                    </li>
                    <li class="m-contact-info m-contact-info--tell">
                        <h2>お電話でのお問い合わせ</h2>
                        <a href="tel:03-4590-7632">
                            03-4590-7632
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <?php get_footer(); ?>
    <script src="<?php bloginfo( 'template_directory' ); ?>/js/index.min.js"></script>
    </body>
</html>
