<?php get_header(); ?>
    <% include template/_nav-single %>

    <?php if(have_posts()) : while(have_posts()) : the_post(); ?>
            <div class="m-panelOne">
                <div class="m-panelOne_body">
                    <?php echo wp_get_attachment_image(post_custom('cf_keyVisual'),'full'); ?>
                </div>
            </div>
    <?php endwhile; endif; ?>

    <div class="container u-pb60">
        <div class="row u-mt20">
            <div class="col s12">
            <?php
            $keyBtnUrl = get_post_meta($post->ID, 'cf-keyBtnUrl', true);
            $keyBtnTxt = get_post_meta($post->ID, 'cf-keyBtnTxt', true);
            ?>
            <?php if(empty($keyBtnUrl)):?>
            <?php else:?>
                <a class="btn btn-special waves-effect waves-light btn-large u-center-block" href="<?php echo $keyBtnUrl; ?>" target="_blank">
                    <?php echo $keyBtnTxt; ?>
                </a>
            <?php endif;?>
            </div>
        </div>
        <?php $ctm_alert = get_post_meta($post->ID, 'cf_alertStrings', true);?>
        <?php if(empty($ctm_alert)):?>
        <?php else:?>
            <div class="m-alert u-text-center u-mb30">
                <?php echo nl2br($ctm_alert); ?>
            </div>
        <?php endif;?>
        <!-- 投稿部分 -->
        <?php
        if(empty($post->post_content)){
           /* 本文が空の場合の処理 */ 
        } else {
        echo '<section id="#link-receive">
                    <div class="row">
                        <div class="col s12">
                            <div class="card">
                                <div class="card-content">' 
                                .get_the_content(). 
                                '</div>
                            </div>
                        </div>
                    </div>
                </setion>';
        }
        ?>
        <!-- チケット受け取り方法 -->
        <% include template/section/_section02 %>
        <!-- 入場方法 -->
        <% include template/section/_section03 %>
        <!-- お問い合わせ -->
        <% include template/section/_section06 %>
    </div><!--end container-->
    <div class="m-breadcrumb">
    <?php breadcrumb(); ?>
    </div>
    <?php get_footer(); ?>
    <script src="<?php bloginfo( 'template_directory' ); ?>/js/single.min.js"></script>
    <script>
        $(document).ready(function(){
            $('body').addClass('page-single');
        });
    </script>
    <?php
    $style_bgcolor = get_post_meta($post->ID, 'cf-backgroundColor', true);
    ?>
                <?php if(empty($style_bgcolor)):?>

                <?php else:?>
                    <script>
                        $('body').css('background', '<?php echo $style_bgcolor;?>');
                    </script>
                <?php endif;?>
    </body>
</html>
