<?php get_header(); ?>
    <% include template/_nav-single %>

    <?php if(have_posts()) : while(have_posts()) : the_post(); ?>
            <div class="c-mainPanel">
                <div class="c-mainPanel_body">
                    <?php echo wp_get_attachment_image(post_custom('cf_keyVisual'),'full'); ?>
                </div>
            </div>
    <?php endwhile; endif; ?>

    <div class="container">
        <div class="row u-mt40">
            <div class="col s12">
            <?php $ctm_linkspecial = get_post_meta($post->ID, 'cf_linkSpecialLP', true);?>
            <?php if(empty($ctm_linkspecial)):?>
                <a class="btn waves-effect waves-light btn-large u-center-block" href="https://tixeebox.tv/lp/how-to/" target="_blank">
                    tixeeboxご利用方法をみる
                </a>
            <?php else:?>
                <a class="btn btn-special waves-effect waves-light btn-large u-center-block" href="<?php echo get_post_meta($post->ID , 'cf_linkSpecialLP' ,true); ?>" target="_blank">
                    特設ランディングページをみる
                </a>
            <?php endif;?>
            </div>
        </div>
        <?php $ctm_alert = get_post_meta($post->ID, 'cf_alertStrings', true);?>
        <?php if(empty($ctm_alert)):?>
        <?php else:?>
            <div class="alert u-text-center u-mb10">
                <?php echo get_post_meta($post->ID , 'cf_alertStrings' ,true); ?>
            </div>
        <?php endif;?>
        <!-- 投稿部分 -->
        <?php
        if(empty($post->post_content)){
           /* 本文が空の場合の処理 */ 
        } else {
        echo '<section id="#link-receive">
                    <div class="row">
                        <div class="col s12">
                            <div class="card">
                                <div class="card-content">' 
                                .get_the_content(). 
                                '</div>
                            </div>
                        </div>
                    </div>
                </setion>';
        }
        ?>
        <!-- 公演日程とチケット受け取り開始日時 -->
        <% include template/section/_section01 %>
        <!-- チケット受け取り方法 -->
        <% include template/section/_section02 %>
        <!-- お問い合わせ -->
        <% include template/section/_section06 %>
    </div><!--end container-->
    <?php get_footer(); ?>
    <script src="<?php bloginfo( 'template_directory' ); ?>/js/single.min.js"></script>
    <script>
        $(document).ready(function(){
            $('body').addClass('page-single');
        });
    </script>
    </body>
</html>
