<?php get_header(); ?>
<!-- カテゴリ情報取得 -->
<?php
if ( have_posts() ) {
    $tags = get_the_tags();
    $tag_id   = $tags[0]->term_id;
    $tag_name = $tags[0]->slug;
}
?>

    <% include template/_nav %>
    <section class="container">
            <h1 class="m-heading-category"><?php if ( have_posts() ) { echo single_tag_title( ).'新着';} else { echo '投稿されていません。';} ?></h1>
    </section>
    <section class="m-panelFive">
        <div class="m-panelFive-body">
            <div class="m-panelFive-contant">
                <?php
                if ( have_posts() ) {
                $tag_query = new WP_Query( 'posts_per_page=1&tag_id='.$tag_id);
                ?>
                <a href="<?php the_permalink();?>">
                    <div class="m-panelFive-thumbnail m-panelFive-thumbnail--one">
                        <?php while ( $tag_query->have_posts() ) : $tag_query->the_post();
                        $do_not_duplicate[] = $post->ID; ?>
                        <?php
                            if ( has_post_thumbnail() ) {
                                the_post_thumbnail();
                            }
                        ?>
                        <h1 class="m-panelFive-heading">
                            <?php the_title(); ?>
                        </h1>
                        <?php endwhile;?>
                    </div>
                </a>
                <?php } ?>
            </div>
            <div class="m-panelFive-contant">
                <?php
                if ( have_posts() ) {
                $tag_query = new WP_Query( 'offset=1&posts_per_page=4&tag_id='.$tag_id);
                while ( $tag_query->have_posts() ) : $tag_query->the_post();
                $do_not_duplicate[] = $post->ID;
                ?>
                <div class="m-panelFive-box">
                    <a href="<?php the_permalink();?>">
                        <div class="m-panelFive-thumbnail">
                            <?php
                            if ( has_post_thumbnail() ) {
                                the_post_thumbnail('medium');
                            }
                            ?>
                            <h1 class="m-panelFive-heading">
                                <?php the_title(); ?>
                            </h1>
                        </div>
                    </a>
                </div>
                <?php endwhile; }?>
            </div>
        </div>
    </section>
    <?php 
    $tag_query = new WP_Query( 'offset=1&posts_per_page=4&tag_id='.$tag_id);
    if ( ($tag_query->found_posts ) > 4 ){ ?>
    <div class="container">
        <h1 class="m-heading-category"><?php echo single_tag_title().'一覧'; ?></h1>
        <div class="row fn-grid">
            <?php if ( have_posts() ) : while ( have_posts() ) : the_post();
                if ( in_array( $post->ID, $do_not_duplicate ) ) continue;?>

            <div class="col s6 m3 fn-grid-item">
                <section class="card card--masony">
                    <a href="<?php the_permalink();?>">
                        <div class="card-image">
                            <?php
                            if ( has_post_thumbnail() ) {
                                the_post_thumbnail('medium');
                            }
                            ?>
                        </div>
                        <h1 class="card-action card-action--masonry">
                            <?php the_title(); ?>
                        </h1>
                    </a>
                </section>
            </div>
            <?php endwhile; endif; ?>
        </div>
        <?php
        wp_reset_postdata(); 
        ?>
        <div class="row">
            <?php if (function_exists('fn_pagenation')) {
                fn_pagenation($wp_query->max_num_pages);
            }?>
        </div>
    </div>
    <?php } ?>
    <?php get_footer(); ?>
    <script src="<?php bloginfo( 'template_directory' ); ?>/js/tag.min.js"></script>
    </body>
</html>