                <?php $ctm_schedule = get_post_meta($post->ID, 'cf-tableTime-title', true);?>
                <?php if(empty($ctm_schedule)):?>

                <?php else:?>
                    <section id="link-schedule">
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content">
                                        <h1 class="heading-a">公演日程とチケット受け取り開始日時</h1>
                                        <p>
                                        <span class="alert alert-a">チケットの受け取りは、下記表の「受け取り開始」に記載してある日時から開始となります。</span><br>
                                            公演当日はアクセスの集中により回線の混雑が予想されます。必ず事前にtixeeboxアプリのインストールおよびチケットの受け取りを完了してください。
                                        </p>
                                        <p>
                                            <a class="page-scroll link-a" href="https://tixeebox.tv/lp/how-to/#section02" target="_blank">tixeeboxアプリによるチケットの受け取り方法詳細はこちら</a>
                                        </p>
                                    </div>
                                    <div class="card-action">
                                        <% include ../table/_tableTime %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                <?php endif;?>