                <?php $ctm_getTicket = get_post_meta($post->ID, 'cf_tableGetTicket_title', true);?>
                <?php if(empty($ctm_getTicket)):?>
                <?php else:?>
                    <section class="card">
                        <div class="row card-content">
                            <h1 class="m-heading-main">チケット受け取り方法</h1>
                            <section class="col s12">
                                <h3 id="link-schedule" class="m-heading-sub">各公演日程とチケット受け取り開始日程</h3>
                                <p><?php echo nl2br($scheduleString); ?></p>
                                <ul class="m-alert m-alert-list u-mt15">
                                    <?php foreach ( $scheduleAlert as $field_name => $field_value ) { ?>
                                    <li>
                                        <?php echo nl2br($field_value['cf-scheduleAlertDetail']); ?>
                                    </li>
                                    <?php } ?>
                                </ul>
                                <div class="m-alert m-alert-box u-mt30 u-mb30">
                                    <ul class="m-alert-list">
                                        <?php foreach ( $alertSpecial as $field_name => $field_value ) { ?>
                                        <li>
                                            <?php echo nl2br($field_value['cf-alertSpecial']); ?>
                                        </li>
                                        <?php } ?>
                                    </ul>
                                </div>

                                <% include ../table/_tableTime %>
                            </section>

                            <% include ../steps/_stepGet %>

                            <% include ../steps/_stepGift %>
                        </div>
                    </section>
                <?php endif;?>
