<div class="c-parallax c-parallax--category" id="fn-parallax-2">
    <div class="c-parallax-overlay"></div>
    <div class="c-parallax-content">
        <section class="c-parallax-body">
            <h2 class="heading-b">
                電子チケットの発券、<br>及び入場管理！<br>
                スマホユーザーに新たな<br>電子チケット入場体験を！
            </h2>
        </section>
    </div>
</div>