<?php if ( $cat_slug == 'special' ) { ?>
    <div class="c-parallax c-parallax--category1" id="fn-parallax-2">
    <?php } else if ( $cat_slug == 'lp' ) {?>
    <div class="c-parallax c-parallax--category2" id="fn-parallax-2">
    <?php } else if ( $cat_slug == 'archives' ) {?>
    <div class="c-parallax c-parallax--tag1" id="fn-parallax-2">
    <?php } else { ?>
    <div class="c-parallax c-parallax--category1" id="fn-parallax-2">
    <?php } ?>
        <div class="c-parallax-overlay"></div>
        <div class="c-parallax-content">

        </div>
    </div>