<div class="c-parallax" id="fn-parallax-1">
    <div class="c-parallax-overlay"></div>
    <div class="c-parallax-content">
        <div class="c-parallax-body">
            <img class="c-parallax-logo" src="<?php bloginfo( 'template_directory' ); ?>/img/logo-white.png" alt="tixeeboxロゴ">
            <h2 class="heading-c">
                電子チケットの発券、<br>及び入場管理！<br>
                スマホユーザーに新たな<br>電子チケット入場体験を！
            </h2>
            <ul class="c-list-icons clearfix">
                <li>
                    <img src="<?php bloginfo( 'template_directory' ); ?>/img/app-icon.png" alt="tixeeboxAPPロゴ">
                </li>
                <li>
                    <a href="https://itunes.apple.com/jp/app/tixeebox-dian-zichiketto-kuponno/id1014457201?mt=8" target="_blank">
                        <img src="<?php bloginfo( 'template_directory' ); ?>/img/app-banner.png" alt="APP STORE BANNER">
                    </a>
                </li>
                <li>
                    <a href="https://play.google.com/store/apps/details?id=tv.tixeebox.tixeeboxappli&hl=ja" target="_blank">
                        <img src="<?php bloginfo( 'template_directory' ); ?>/img/app-google-banner.png" alt="Google Play BANNER">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>