<div class="m-parallax" id="fn-parallax-1">
    <div class="m-parallax-overlay"></div>
    <div class="m-parallax-content">
        <section class="m-parallax-body">
            <div class="m-slanting">
                <div class="m-slanting-inner">
                    <div class="m-keyvisual">
                        <div class="m-keyvisual-string">
                            <div class="m-keyvisual-body">
                                <h1>
                                    <big class="fn-text-1">イベント主催者様</big><span class="fn-text-down">へご紹介！</span><br>
                                    <span class="fn-text-down">スマホチケット発券に特化したサービス！</span>
                                </h1>
                                <ul>
                                    <li>
                                        <i class="material-icons">label_outline</i>
                                        <span class="fn-text-2">日本初！発券に特化したスマホアプリ</span>
                                    </li>
                                    <li>
                                        <i class="material-icons">label_outline</i>
                                        <span class="fn-text-2">チケット1枚につき100円の費用で底コスト</span>
                                    </li>
                                    <li>
                                        <i class="material-icons">label_outline</i>
                                        <span class="fn-text-2">ユーザーに優しい発券手数料0円</span>
                                    </li>
                                    <li><i class="material-icons">label_outline</i>
                                        <span class="fn-text-2">あらゆるスマホに対応</span>
                                    </li>
                                    <li>
                                        <i class="material-icons">label_outline</i>
                                        <span class="fn-text-2">マルチ言語（日・英・中）対応</span>
                                    </li>
                                </ul>
                                <a target="_blank" class="btn c-btn-link btn-special waves-effect waves-light" href="/contact-corp/">
                                    <span class="icon-link">お問い合わせはこちらから</span>
                                </a>
                            </div>
                        </div>
                        <div class="m-keyvisual-image">
                            <img src="<?php bloginfo( 'template_directory' ); ?>/img/top/iphone6.png" alt="tixeebox iphone6">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

