<!DOCTYPE html>
<html lang="<%= lang %>" ng-app="contactApp">
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="index, follow" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
        <meta name="description" content="<%= description %>">
        <link rel="canonical" href="<%= canonical %>">
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="icon" type="image/gif" href="animated_favicon1.gif">
        <title><%= title %></title>
        <link href="<?php bloginfo( 'template_directory' ); ?>/css/common.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body id="fn-hesiveTop">
        <div id="fn-scrollToggle" class="c-btnTop">
            <a class="fn-pageScroll btn-floating waves-effect waves-light" href="#fn-hesiveTop"></a>
        </div>

        <% include ./_googleanalytics %>