<div class="navbar-fixed u-clearfix">
    <nav class="u-hidden-xs">
        <div class="nav-wrapper">
            <a href="<?php bloginfo('url'); ?>" class="brand-logo">
                <img src="<?php bloginfo('template_directory'); ?>/img/logo-white.png" alt="tixeeboxロゴ">
            </a>
            <a class="right u-mr15 u-ml15" target="_blank" href="/contact-corp/">
                <span class="btn-contact non-hover">お問い合わせ</span>
            </a>
            <ul class="fn-navScroll m-hover right hide-on-med-and-down">
                <li><a class="fn-pageScroll" href="#link-1" data-hover="発券までの流れ"><span>発券までの流れ</span></a></li>
                <li><a id="fn-scrollOpen-2" data-hover="特徴"><span>特徴</span></a></li>
                <li><a id="fn-scrollOpen-3" data-hover="導入実績"><span>導入実績</span></a></li>
                <li><a id="fn-scrollOpen-4" data-hover="導入事例"><span>導入事例</span></a></li>
                <li><a id="fn-scrollOpen-5" data-hover="利用者の声"><span>利用者の声</span></a></li>
                <li><a id="fn-scrollOpen-6" data-hover="Q&A"><span>Q&A</span></a></li>
            </ul>
        </div>
    </nav>
    <nav class="u-visible-xs navbar-fixed-top">
        <ul id="slide-out" class="side-nav">
            <li><a id="fn-scrollOpen-1sh" class="fn-pageScroll" href="#link-1">発券までの流れ</a></li>
            <li><a id="fn-scrollOpen-2sh">特徴</a></li>
            <li><a id="fn-scrollOpen-3sh">導入実績</a></li>
            <li><a id="fn-scrollOpen-4sh">導入事例</a></li>
            <li><a id="fn-scrollOpen-5sh">利用者の声</a></li>
            <li><a id="fn-scrollOpen-6sh">Q&A</a></li>
            <li><a class="icon-linkblank" target="_blank" href="/contact-corp/">お問い合わせ</a></li>
        </ul>
        <a data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <a class="fn-pageScroll brand-logo center" href="#fn-hesiveTop">
            <img src="<?php bloginfo( 'template_directory' ); ?>/img/logo-white.png" alt="tixeeboxロゴ">
        </a>
        <ul class="social-icons">
            <li class="right">
                <a href="https://twitter.com/tixeebox1" target="_blank">
                    <i class="icon-twitter"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>