footer {
    color: $whiteCol;
    background: $grayCol;
    font-size: 13px;

    @media(max-width: $responseiveWidth) {
        padding: 20px;
    }

    h5 {
        font-size: 18px;
    }

    .m-listIcons {
        margin-top: 0;

        li:nth-child(1) {
            padding-left: 0;
        }

        > li img {
            height: 41px
        }
    }

    nav {
        box-shadow: none;
        background: none;
        opacity: initial;
        height: auto;
    }

    .footer-copyright {
        font-size: 11px;
        border-top: 1px solid $grayCol;
        line-height: 30px;
        height: 30px;
        margin-top: 15px;

        @media(max-width: $responseiveWidth) {
            text-align: center;
        }
    }
}
